<div class="container">

    <div class="row mt-2">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                You loved the <%= @dish.name %> at...
                <span class="label label-primary pull-right">
                  <%= @dish.cuisine.name %>
                </span>
            </h4>
          </div>

      <ul class="list-group">
        <li class="list-group-item">
          
          <form action="/create_bookmark" class="form-inline" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="zX5XmhjbVUaW5bGW7OYZmjzqOy1DUxWPkFbfxUjGGrmZ24f+tHlMQVR9M6rwJ8OBAtfXptZs3k/Ipw8S4qLoBg==">


                <input type="hidden" name="dish_id" value="<%= @dish.id %>">
                <input type="hidden" name="user_id" value="<%= current_user.id %>">

                <!-- Label and input for venue_id -->
                <div class="form-group">
                <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), prompt: 'Choose a venue...',:class => "form-control input-sm") %>
              
                </div>
              
                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
           
          
            
          
<!-- Label and input for venue_id -->
            <small class="pull-right text-muted">
              right now
            </small>
        </form>
         
        </li>
      
     <% @bookmarkvenues.each do |bookmark| %>
           <li class="list-group-item">
              <p>
                <a href="/venues/<%= bookmark.venue.id %>"> 
                <%= bookmark.venue.name %>
                </a>
              <small class="pull-right text-muted">
                <%= time_ago_in_words(bookmark.created_at) %>
                <a href="/bookmarks/<%= bookmark.id %>/edit">
                  <i class="fa fa-fw fa-edit"></i>
                </a>
                <a href="/delete_bookmark/<%= bookmark.id %>">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
              </small>
              </p>
           </li>
      <% end %>
       </ul>

      <div class="panel-footer text-center">
        <a href="/dishes" class="btn btn-block btn-default">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
</div>



































